{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>
      
      {{ if .Params.contactus }}
        <a class="btn btn-primary btn-block btn-lg" href="tel:0879826650">
          Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>John
        </a>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
